/* src/AboutSection.css */
.about-section {
    padding: 60px 20px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.about-content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
}

.about-content > div {
    background: var(--secondary-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-content h2 {
    font-size: 2.5em;
    color: var(--text-color);
    position: relative;
    padding-left: 20px; 
    text-align: left;
    margin-top: 0;
}

.about-content h2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: var(--danger-color);
}

.about-content p {
    font-size: 1em;
    line-height: 1.4;
}

@media (max-width: 768px) {
    .about-content {
        grid-template-columns: 1fr;
    }
}

hr {
    border-radius: 10px;
    height: 4px;
    margin: 40px 0;
    background-color: var(--danger-color);
}
